/**
 * CONTAINER
 */
.w-guide-text {
  color: #fff;
  display: flex;
  height: max-content;
  max-width: 50vw;
  padding: 10px;
  position: absolute;
  width: max-content;
  z-index: 15;
  cursor: initial;
}

/* Control position */
/** 
 * IMAGE
 */
.w-guide-text img {
  display: block;
  width: auto;
  height: 40px;
  -webkit-filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(194deg)
    brightness(109%) contrast(101%); /* Safari 6.0 - 9.0 */
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(194deg)
    brightness(109%) contrast(101%);
}
/* Control position of img */
.w-guide-text.right {
  left: calc(100% + 10px) !important;
  right: initial !important;
  top: 0;
}
.w-guide-text.right img {
  transform: rotate(-19deg) translate(-13px, 3px);
}

.w-guide-text.left {
  left: initial !important;
  right: calc(100% + 10px) !important;
  top: 0;
  flex-direction: row-reverse;
}
.w-guide-text.left img {
  transform: rotate(-72deg) translate(4px, 15px);
}

.w-guide-text.top {
  bottom: calc(100% + 10px) !important;
  left: 50%;
  transform: translateX(-50%);
  top: initial !important;
  flex-direction: column-reverse;
  justify-content: center;
}
.w-guide-text.top img {
  transform: rotateX(178deg) translate(0, -7px);
}

.w-guide-text.bottom {
  bottom: initial !important;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 10px) !important;
  flex-direction: column;
  justify-content: center;
}
.w-guide-text.bottom img {
  transform: rotateX(30deg) translate(0, -13px);
}

.w-guide-text.bottom.right {
  flex-direction: row;
  transform: translateX(-60px);
}
.w-guide-text.bottom.right img {
  transform: rotateX(30deg) translate(-10px, -9px);
}

.w-guide-text.top.right {
  flex-direction: row;
  transform: translateX(-60px);
}
.w-guide-text.top.right img {
  align-self: flex-end;
  transform: rotateX(178deg) translate(-10px, -10px);
}

.w-guide-text.top.left {
  flex-direction: row-reverse;
  transform: translateX(60px);
}
.w-guide-text.top.left img {
  align-self: flex-end;
  transform: rotateX(178deg) rotateY(180deg) translate(-2px, -10px);
}

.w-guide-text.bottom.left {
  flex-direction: row-reverse;
  transform: translateX(60px);
}
.w-guide-text.bottom.left img {
  transform: rotateY(180deg) translate(10px, -10px);
}

/**
 * CONTENT
 */
.w-guide-text .w-guide-container div {
  max-width: 300px;
  width: max-content;
  align-self: flex-end;
  pointer-events: none;
  user-select: none;
}
.w-guide-text .w-guide-container .w-guide-skip {
  background-color: transparent;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-style: italic;
  margin-left: 20px;
  opacity: 0.7;
  outline: 0;
  padding: 5px 8px;
  transition: opacity 0.2s;
  cursor: pointer;
  border: 1px solid #fff;
  margin-top: 15px;
}
.w-guide-text .w-guide-container .w-guide-skip:hover {
  opacity: 1;
}

.w-guide-tap-click {
  position: relative;
}
.w-guide-tap-click::after {
  animation-delay: 0.4s;
  animation: tapClick 0.8s ease-out infinite;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 9999px;
  content: "";
  display: block;
  height: 120%;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 120%;
}

.w-guide-input {
  position: relative;
}
.w-guide-input:first-of-type {
  background-color: #fff;
}
.w-guide-input::after {
  animation-delay: 0.4s;
  animation: tapClick 0.8s ease-out infinite;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 9999px;
  content: "";
  display: block;
  height: calc(100% + 10px);
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: calc(100% + 10px);
}
.w-guide-input .w-guide-text {
  bottom: 0;
  top: initial;
}

@keyframes tapClick {
  50% {
    transform: translate(-50%, -50%) scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: translate(-50%, -50%) scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.001, 0.001);
    opacity: 1;
  }
}
