.w-guide-tour-cp{
  background-color: #fff;
  border-radius: 5px;
  color: #1a1a1a;
  height: max-content;
  max-width: 300px;
  padding: 12px 15px;
  position: fixed;
  text-align: left;
  visibility: hidden;
  width: max-content;
  z-index: 9999;
}

/* .w-guide-tour-cp.left{
  top: 0;
  right: calc(100% + 10px);
}

.w-guide-tour-cp.right{
  top: 0;
  left: calc(100% + 10px);
}

.w-guide-tour-cp.bottom{
  top: calc(100% + 10px);
  left: 0;
}

.w-guide-tour-cp.top{
  bottom: calc(100% + 10px);
  left: 0;
} */

.w-guide-tour-title {
  font-weight: 600;
}

.w-guide-tour-message {
  margin-top: 10px;
  opacity: 0.8;
}

.w-guide-tour-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 12px;
}

.w-guide-tour-step {
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  margin-top: 14px;
  display: flex;
}

.w-guide-tour-step div{
  border-radius: 50%;
  height: 6px;
  width: 6px;
  border: 1px solid #d3d3d3;
  margin-right: 10px;
}

.w-guide-tour-step .active{
  border-color: transparent;
  background-color: #22402F;
  transform: translateX(0) scale(1.5);
  animation: stepAni 0.4s linear;
  animation-delay: 0.2s;
}

@keyframes stepAni {
  0%{
    transform: scale(1) translateX(-16px);
  }
  100%{
    transform: scale(1.5) translateX(0);
  }
}

.w-guide-tour-next {
  background-color: #22402F;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.7;
  outline: 0;
  padding: 5px 8px;
  transition: opacity 0.2s;
}
.w-guide-tour-next:hover{
  opacity: 1;
}

.w-guide-tour-skip{
  background-color: transparent;
  border-radius: 3px;
  border: none;
  color: #1a1a1a;
  cursor: pointer;
  font-style: italic;
  opacity: 0.7;
  outline: 0;
  padding: 5px 8px;
  transition: opacity 0.2s;
}
.w-guide-tour-skip:hover{
  opacity: 1;
}

.w-guide-tour-arrow{
  position: relative;
}
.w-guide-tour-arrow:after{
  content: '';
  height: 0;
  position: absolute;
  width: 0;
}

.w-guide-tour-arrow.left:after{
  border-bottom: 6px solid transparent;  
  border-left: 8px solid #fff;
  border-top: 6px solid transparent;
  left: -10px;
  top: 50%;
  transform: translate(0, -50%);
}

.w-guide-tour-arrow.right:after{
  border-bottom: 6px solid transparent; 
  border-right: 8px solid #fff;
  border-top: 6px solid transparent;
  right: -10px;
  top: 50%;
  transform: translate(0, -50%);
}

.w-guide-tour-arrow.bottom:after{
  border-bottom: 8px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, 0);
}

.w-guide-tour-arrow.top:after{
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #fff;
  left: 50%;
  top: -10px;
  transform: translate(-50%, 0);
}
