.w-guide {
  display: contents;
  position: relative;
}

.w-guide-mark {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: block;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
}

.w-guide-wrap {
  display: contents;
}
.w-guide-wrap > * {
  z-index: 11;
}

.w-guide-relative {
  position: relative;
}
