.column {
  display: flex;
  flex-direction: column;
}

.button-control {
  display: block;
  position: fixed;
  z-index: 100;
  top: 500px;
  left: 50%;
  transform: translateX(-50%);
}

.step {
  background-color: #fff;
  border: none;
  color: #000;
  cursor: pointer;
  margin-left: 20px;
  padding: 5px;
  width: 100px;
}

.action-driven {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 10px auto;
}

.action-driven .step {
  position: absolute;
  margin-left: 0;
}

.action-driven .step.bottom-right {
  top: 0;
  left: 0;
}

.action-driven .step.right {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.action-driven .step.top-right {
  bottom: 0;
  left: 0;
}

.action-driven .step.top {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.action-driven .step.top-left {
  bottom: 0;
  right: 0;
}

.action-driven .step.left {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.action-driven .step.bottom-left {
  top: 0;
  right: 0;
}

.action-driven .step.bottom {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.tour-position {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

.tour-position .step {
  position: absolute;
  margin-left: 0;
}

.tour-position .step.top {
  top: calc(50% - 40px);
  left: 50%;
}

.tour-position .step.right {
  top: 50%;
  left: calc(50% + 150px);
}

.tour-position .step.bottom {
  top: calc(50% + 40px);
  left: 50%;
}

.tour-position .step.left {
  top: 50%;
  left: calc(50% - 150px);
}