.step{
  background-color: #fff;
  border: none;
  color: #000;
  cursor: pointer;
  margin-left: 20px;
  padding: 5px;
  width: 100px;
}

.column {
  display: flex;
  flex-direction: column;
}

.action-driven .left{
  margin-left: 200px;
}